# ignore various standard-ish
.dockerignore
Dockerfile
Dockerfile.prod
docker-compose.*
nginx.conf
Makefile
.git/

# ignore project specific
.venv/
landex/types/
landex/schema/
tz1aND_metadata.*/
poetry.toml
*.sqlite3*
**/__pycache__
**.pyc

# env files
.env*
!.env.production.local

# notes and stuff
TODO.txt

# need the items collection types, for now.
!landex/types/tezlandItemsCollection