# ignore generated types for now
landex/types/
landex/schema/
# ignore pycache
__pycache__
# ignore sqlite files
*.sqlite3*
# ignore .env file
.env*
dipdup.dev.local.yml
tz1aND_metadata.staging/
tz1aND_metadata.dev/

# notes and stuff
TODO.txt